@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/assets/js/jquery.min.js"></script>
<link href="~/Content/assets/plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<!--Start Dashboard Content-->

<div class="row mt-4">
    <div class="col-12 col-lg-6 col-xl-3">
        <div class="card gradient-purpink">
            <div class="card-body">
                <div class="media">
                    <div class="media-body text-left">
                        <h4 class="text-white">$4530</h4>
                        <span class="text-white">Revenue</span>
                    </div>
                    <div class="align-self-center"><span id="dash-chart-1"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-3">
        <div class="card gradient-scooter">
            <div class="card-body">
                <div class="media">
                    <div class="media-body text-left">
                        <h4 class="text-white">2500</h4>
                        <span class="text-white">Total Orders</span>
                    </div>
                    <div class="align-self-center"><span id="dash-chart-2"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-3">
        <div class="card gradient-ibiza">
            <div class="card-body">
                <div class="media">
                    <div class="media-body text-left">
                        <h4 class="text-white">7850</h4>
                        <span class="text-white">Comments</span>
                    </div>
                    <div class="align-self-center"><span id="dash-chart-3"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-3">
        <div class="card gradient-ohhappiness">
            <div class="card-body">
                <div class="media">
                    <div class="media-body text-left">
                        <h4 class="text-white">3524</h4>
                        <span class="text-white">Total Views</span>
                    </div>
                    <div class="align-self-center"><span id="dash-chart-4"></span></div>
                </div>
            </div>
        </div>
    </div>
</div><!--End Row-->




    <div class="body">
        <div class="table-responsive">
            <table id="example" class="table table-bordered" cellpadding=".5" style="width:100%">
                <thead>
                    <tr class="bg-dark" style="color:white">
                        <td>Ad Soyad</td>
                        <td>Code</td>
                        <td>Şifre</td>
                        <td>İşlemler</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Serter Özbek</td>
                        <td>So00</td>
                        <td>123456789</td>
                        <td><a class="btn btn-danger">Düzenle</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<!--End Dashboard Content-->

<script src="~/Content/assets/plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>

<script type="text/javascript">
    var jQueryCalis = $.noConflict(true);
    (function ($) {
        $(document).ready(function () {
            $('#example').DataTable({
                "lengthMenu": [[50, 50, -1], [50, 50, "Tümü"]],
                "ordering": true,
                "caseInsensitive": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
                }
            });
            var table = $('#example').DataTable();
            $('#example').show();
        });
    })(jQueryCalis);
</script>

